:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* цвет основного текста rgba(0, 0, 0, 0.8) */
/* вторичный цвет текста #000000 */
/* белый #FFFFFF */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5 */

/* Logo */
.logo {
  color: var(--title-text-color);

  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--title-text-color);
}

/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 40px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Features and Examples*/
.feature-list .title,
.work-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.feature-list .text {
  font-size: 18px;
  line-height: 1.67;
}

/* Buttons */
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: var(--accent-color);
}

/* Footer */

.copyright {
  font-size: 15px;
  line-height: 1.6;
}

.social > .label {
  font-size: 15px;
  line-height: 1.6;
}
