body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
}

.list {
  list-style: none;
}

/* цвет основного текста rgba(0, 0, 0, 0.8) */
/* вторичный цвет текста #000000 */
/* белый #FFFFFF */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5 */

/* Logo */
.logo {
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: #18a0fb;
}

/* site-nav */
.site-nav .link {
  color: #18a0fb;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #000000;
}

/* Hero */

.hero-title {
  color: #000000;
}

/* section */

.section-title {
  color: #000000;
}
